* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

body {
    height: 100%;
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    font-family: 'Montserrat', sans-serif;
    color: $primaryText;
}

a {
    text-decoration: none;
    cursor: pointer;
}