.features {
    color: #232323;
    text-align: center;
    position: relative;
    height: 25rem;
    margin-bottom: -75px;

    @mixin atMedium {
        margin-top: -50px;
        margin-bottom: auto;
    }

    

    &__icon {
        display: inline-block;
        margin-bottom: 17px;

        &--edit {
            margin-top: -15px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 0.7px;

        &--last {
            margin-top: 24px;
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 0.875rem;
        text-align: center;
        opacity: 0.5;
        max-height: 5.3125rem;
        width: 70%;
        font-weight: 500;

        @media (min-width: 630px) {
            width: 30%;
        }

        @mixin atMedium {
            width: 70%;
        }

        &--last {
            margin-top: -10px;
            margin-bottom: 12px;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        display: inline-block;
        padding-top: 1rem;
    }

    &__new-logo {
        display: inline-block;
        background-color: #26e6e6;
        color: #fff;
        font-size: 0.5625rem;
        vertical-align: middle;
        line-height: 1rem;
        border-radius: 50px;
        padding: 4px 12px;
        font-weight: 400;
    }
}